<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="span5 copyright">
				<span>&#169; Copyright 2012 Qualibom</span>
			</div>
			<div class="span2 logo-footer">
				<img src="/assets/logo-min.png" alt="Qualibom">
			</div>
			<div class="span5 text-footer">
				<span class="f-fone"><b>Fone:</b> (62) 3089 - 6200</span><br/>
				<span class="f-sac"><b>SAC:</b> <a href="mailto:sac@qualibom.com.br">sac@qualibom.com.br</a></span>
			</div>
		</div>
	</div>
</footer>