<ul class="nav nav-pills">
	<li><a href="/home/">Home</a></li>
  	<li><a href="/institucional/">Institucional</a></li>
	<li><a href="/cestas-basicas/">Cestas básicas</a></li>
	<li><a href="/beneficios/">Benefícios</a></li>
	<li><a href="/fale-conosco/">Fale conosco</a></li>
</ul>