<ul class="nav nav-pills">
	<li><a href="http://www.qualibom.com.br/">Home</a></li>
  	<li><a href="http://www.qualibom.com.br/institucional/">Institucional</a></li>
	<li><a href="http://www.qualibom.com.br/cestas-basicas/">Cestas básicas</a></li>
	<li><a href="http://www.qualibom.com.br/beneficios/">Benefícios</a></li>
	<li><a href="http://www.qualibom.com.br/fale-conosco/">Fale conosco</a></li>
</ul>