<% @lista_de_produtos = ["Qualibom standard", "Qualibom premium", "Bomdemais standard", "Bomdemais premium"] %>
<fieldset class="campos-produtos">
	<div class="span3">
		<%= f.select :nome, options_for_select(@lista_de_produtos, :selected => f.object.nome), :prompt => 'Selecione um produto' %>
	</div>
	<div class="span3">
		<%= f.text_field :quantidade, class: "span3", placeholder: "Quantidade" %>
	</div>
</fieldset>