<% @lista_de_produtos = ["Qualibom 17 itens", "Qualibom 25 itens", "Bomdemais 11 itens", "Bomdemais 20 itens"] %>
<fieldset class="campos-produtos span10">
	<div class="span3">
		<%= f.select :nome, options_for_select(@lista_de_produtos, :selected => f.object.nome), :prompt => 'Selecione uma cesta' %>
	</div>
	<div class="span3">
		<%= f.text_field :quantidade, class: "span3", placeholder: "Quantidade" %>
	</div>
</fieldset>