<div class="row">
	<div class="span12">
		<div class="faixa titulo-cotacao">
			<img src="/assets/faixa-borda-esquerda.png" class="borda-esquerda">
			<img src="/assets/faixa-borda-direita.png" class="borda-direita">
			<h1>Cotação de Cestas</h1>
		</div>
		<div class="row">
			<div class="span12">
				<div class="cotacao-form">
					<div class="row">
						<div class="span10">
							<%= render 'form' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>